@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playfair+Display:wght@400;500&family=Poppins:wght@100&family=Quattrocento+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Quattrocento Sans', sans-serif;
    text-decoration: none;
    color: rgb(0,0,0);
   
}

html {
    scroll-behavior: smooth;
    //overflow-x: hidden;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


button {
    cursor: pointer;
}

// variables
$titleFont: 2rem;
$specialColor: rgba(3, 3, 3, 0.722);

//mixins
@mixin btnSettings {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.755);
    color: ghostwhite;
    border: 0;
    &:hover {
        opacity: .7;
    }
}

@mixin divCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}

// default values

// Navbar
.nav__container{
    // border-bottom: 2px solid black;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;

    p {
        // font-weight: bold;
    }

    ul {
        display: flex;
        list-style: none;

        li {
            display: flex;
            justify-content: space-around;
            &:hover{
                text-decoration: underline;
                transition: all 0.4s ease-in-out;
            }
        }
    }

}

// Home Page - default

.hero {
    margin-top: 4rem;
    //border: 2px solid blue;
    // display: flex;
    // justify-content: space-around;


    .hero__img {
        img {
            width: 220px;
            height: 300px;
            border-radius: 25%;
            max-width: 100%;
        }
    }


    .hero__text {
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        p, h2 {

        }

        p {
            font-size: 1.2rem;
            
        }

        h2 {
            font-size: 2.5rem;
            font-weight: bold;
        }

        .hero__btns {
            // border: 2px solid green;
            display: flex;
            gap: 1rem;
            padding: 1rem;
            button {
                @include btnSettings();
            }
        }

        .hero__links {
            display: flex;
            justify-content: space-around;

            i {
                font-size: 2rem; 
            }
        }

    }
}

// About me default
.about {
    .about-container {
        .heading {
            h2 {
            }
        }

        .education-xp-container {
            .image {
                
                img {
                    border-radius: 25px;
                }
            }

            .items {
                
                .item-wrapper {
                    //display: flex;
                    //flex-direction: column;
                    //gap: 1rem;
                    .education {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        gap: 1rem;
                        //border:2px solid $specialColor;
                        //padding: 1.2rem;
                        //border-radius: 25px;
                        //display: flex;
                        //flex-flow: wrap;
                        //flex-direction: column;
                        h4 {
                            //display: flex;
                            //justify-content: center;
                        }

                        span {
                            //text-align: center;
                        }

                        h5 {

                        }
                    }
                    .experience {
                        //border: 2px solid $specialColor;
                        //padding: 1.2rem;
                        
                        // border-radius: 25px;
                        // display: flex;
                        // flex-flow: wrap;
                        // flex-direction: column;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        gap: 1rem;
                        h4 {
                            // display: flex;
                            // justify-content: center;
                        }

                        span {
                            // display: flex;
                            // justify-content: center;
                        }

                        h5 {
                            
                        }
                    }
                }
                .text {
                    text-align: center;
                }

                .writing-btn {
                    text-align: center;
                    // padding: 1rem;
                    button {
                        &:hover {
                            opacity: .7;
                        }
                    }
                }
            }
        }
    }
}




// experience default
.experience {
    .title {
        h2 {
        } 
        h3 {
        }
    }
    .prog-languages, .frameworks {

    }
    .experience-container {
        .prog-languages{

            .prog-languages-title {
                .list-of-prog-languages {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    gap: 1em;
                }
                h2{
                }
                h4 {
                }
            }
        }
        .frameworks{
            padding: 1rem;
            .frameworks-title {
                .list-of-frameworks {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    gap: 1em;
                    h2{
                    }
                    h4 {
                    }
                }
            }
        }
    }
}







// Media Queries

// small and medium and large mobile screens
@media (width >= 320px) {
    .nav__container {
        display: none;
    }

    // burger menu

    
    
    
    /* off-screen-menu */
    .off-screen-menu {
        background-color: rgb(7, 71, 25);
        color: black;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
    }
    .off-screen-menu.active {
        right: 0;
    }
    
    
    
    /* nav */
    nav {
        padding: 1rem;
        display: flex;
        
    }
    
    
    
    /* burger menu */
    // .burger-menu {
    //     height: 50px;
    //     width: 40px;
    //     margin-left: auto;
    //     position: relative;
    // }
    // .burger-menu span {
    //     height: 5px;
    //     width: 100%;
    //     background-color: white;
    //     border-radius: 25px;
    //     position: absolute;
    //     left: 50%;
    //     top: 50%;
    //     transform: translate(-50%, -50%);
    //     transition: .3s ease;
    // }
    // .burger-menu span:nth-child(1) {
    //     top: 25%;
    // }
    // .burger-menu span:nth-child(3) {
    //     top: 75%;
    // }
    // .burger-menu.active span {
    //     background-color: white;
    // }
    // .burger-menu.active span:nth-child(1) {
    //     top: 50%;
    //     transform: translate(-50%, -50%) rotate(45deg);
    // }
    // .burger-menu.active span:nth-child(2) {
    //     opacity: 0;
    // }
    // .burger-menu.active span:nth-child(3) {
    //     top: 50%;
    //     transform: translate(-50%, -50%) rotate(-45deg);
    // }


    // Home Page (small and medium and large)
    .hero {
        //border: 2px solid red;
        display: flex;
        flex-direction: column;
        //padding-bottom: 1.5rem;
        gap: 1rem;

        .hero__img {
            display: flex;
            justify-content: center;

            img {
                width: 120px;
                height: 200px;
                border-radius: 25px;
            }
        }


        .hero__text {
            // border: 2px solid red;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h3 {
                font-size: 1.5rem;
            }
    
            p {
                font-size: 1.5rem;
                
            }
    
            h2 {
                font-size: 1.5rem;
                font-weight: bold;
            }
    
            p, h3 {
                color: rgba(0, 0, 0, 0.607);
                font-weight: bold;
            }

            .hero__btns {
                // border: 2px solid green;
                @include divCentered();
                flex-wrap: wrap;
                button {
                    font-size: 1.2rem;
                    padding: 1rem;
                    border-radius: 25px;
                    background-color: rgba(0, 0, 0, 0.755);
                    color: ghostwhite;
                    border: 0;
                }

            } 

            .hero__links {
                display: flex;
                justify-content: center;
                gap: 1rem;
    
                i {
                    font-size: 2rem; 
                }
            }

        }
    }

    // About section (small and medium and large)
    .about {
        //display: flex;
        //padding: 0.5rem;
        .about-container {
            //border: 4px solid red;
            padding-top: 3rem;
            .heading {
                display: flex;
                justify-content: center;
                //padding: 0.2rem;
                h2 {
                    font-size: 2rem;
                }
            }

            .education-xp-container {
                //border:2px solid blue;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: space-around;
                .image {
                    display: flex;
                    justify-content: center;
                    padding: 1rem;
                    
                    img {
                        border-radius: 25px;
                    }
                }

                .items {
                    
                    .item-wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        .education {
                            border:2px solid $specialColor;
                            padding: 1.2rem;
                            border-radius: 25px;
                            display: flex;
                            flex-flow: wrap;
                            flex-direction: column;
                            h4 {
                                display: flex;
                                justify-content: center;
                                font-size: 1.6rem;
                            }

                            span {
                                text-align: center;
                                font-size: 1.6rem;
                            }   

                            h5 {
                                
                            }
                        }
                        .experience {
                            border: 2px solid $specialColor;
                            padding: 1.2rem;
                            
                            border-radius: 25px;
                            display: flex;
                            flex-flow: wrap;
                            flex-direction: column;
                            h4, span {
                                display: flex;
                                justify-content: center;
                                font-size: 1.6rem;
                            }

                            h5 {
                                
                            }
                        }
                    }
                    .text {
                        text-align: center;
                        padding-top: 1rem;
                        font-size: 1.6rem;
                    }

                    .writing-btn {
                        text-align: center;
                        padding: 1rem;
                        button {
                            font-size: 1.6rem;
                            padding: 1rem;
                            border-radius: 25px;
                            background-color: rgba(0, 0, 0, 0.755);
                            color: ghostwhite;
                            border: 0;
                        }
                    }
                }
            }
        }
    }

    // Experience section (small and medium and large)
    .experience {
        margin: 2rem 0 2rem 0;
        .title {
            text-align: center;
            margin: 1rem 0 1rem 0;
            h2 {
                font-size: 1.7rem;
                margin: 1rem 0 1rem 0;
                
            } 
            h3 {

            }
        }
        // experience (mobile) deep edits
        .prog-languages, .frameworks {
            //display: flex;
            text-align: center;
            margin: 2rem 0 2rem 0;
            border: 2px solid black;
            padding: 1rem 0 1rem 0;
            border-radius: 25px;
        }



        // order of html elements in experience container
        .experience-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .prog-languages{
                //border: 2px solid red;
                padding: 1rem;
                .prog-languages-title {
                    .list-of-prog-languages {

                    }
                    h2{
                        font-size: 1.5rem;
                    }
                    h4 {
                        font-size: 1.2rem;
                    }
                }
            }
            .frameworks{
                padding: 1rem;
                .frameworks-title {
                    .list-of-frameworks {
                        h2{
                            font-size: 1.5rem;
                        }
                        h4 {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }

    // Projects section (small and medium and large)
    .projects {
        padding: 1rem;
        .projects-main-title {
            text-align: center;
            padding: 1rem;
            h4 {
                font-size: 1.6rem;
            }
            h2 {
                font-size: 1.3rem;
            }
        }

        h1 {
            color: $specialColor;
            text-align: center;
        }
    }

    // Contact section (small and medium and large)
    .contact {
        padding: 1rem;
        .contact-container {
            padding: 1rem;
            text-align: center;
            h4 {}
            h2 {}
            .image-container {
                //border: 2px solid red;
                img {
                    width: 200px;
                    height: 350px;
                    border-radius: 25px;
                }
            }
        }
    }
}


// Tablets 
 @media (width >= 768px) {
    .nav__container {
        font-size: $titleFont;
        display: flex;
        p {

        }
        // ul has a default flex display as specified in earlier code above
        ul {
            gap: 2rem;
            
            // li placed before a for easy readability
            li {

            }
            a {

            }

        }
    }

    // Home Page (tablets)
    .hero {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .hero__img {
            display: flex;
            justify-content: center;

            img {
                width: 200px;
                height: 350px;
                border-radius: 25px;
            }
        }


        .hero__text {
            // border: 2px solid red;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h3 {
                font-size: 2rem;
            }
    
            p {
                font-size: 2rem;
                
            }
    
            h2 {
                font-size: 1.8rem;
                font-weight: bold;
            }
    
            p, h3 {
                color: rgba(0, 0, 0, 0.607);
                font-weight: bold;
            }

            .hero__btns {
                // border: 2px solid green;
                @include divCentered();
                button {
                    font-size: 1.8rem;
                    padding: 1rem;
                    border-radius: 25px;
                    background-color: rgba(0, 0, 0, 0.755);
                    color: ghostwhite;
                    border: 0;
                }

            } 

            .hero__links {
                display: flex;
                justify-content: center;
                gap: 1.5rem;
    
                i {
                    font-size: 2rem; 
                }
            }

        }
    }

    // About section (tablets)
    .about {
        padding: 2rem;
        margin-top: 5rem;
        .about-container {
            //border: 2px solid blue;
            .heading {
                text-align: center;
                //padding: 0.2rem;
                h2 {
                    font-size: 3rem;
                }
            }

            .education-xp-container {
                padding: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                gap: 2rem;
                .image {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    
                    img {
                        width: 300px;
                        height: 400px;
                        border-radius: 25px;
                    }
                }

                .items {
                    //border:2px solid blue;
                    .item-wrapper {
                        //display: flex;
                       // border: 2px solid green;
                        .education {
                            border:2px solid $specialColor;
                            font-size: 2rem;
                            padding: 1.2rem;
                            border-radius: 25px;
                            display: flex;
                            flex-flow: wrap;
                            flex-direction: column;
                            h4 {
                                display: flex;
                                justify-content: center;
                            }

                            span {
                                text-align: center;
                            }

                            h5 {

                            }
                        }
                        .experience {
                            border: 2px solid $specialColor;
                            padding: 1.2rem;
                            font-size: 2rem;
                            border-radius: 25px;
                            display: flex;
                            flex-flow: wrap;
                            flex-direction: column;
                            h4 {
                                display: flex;
                                justify-content: center;
                            }

                            span {
                                display: flex;
                                justify-content: center;
                            }

                            h5 {
                                
                            }
                        }
                    }
                    .text {
                        text-align: center;
                        padding-top: 1rem;
                        font-size: 2rem;
                    }

                    .writing-btn {
                        text-align: center;
                        padding: 1rem;
                        button {
                            font-size: 2rem;
                            padding: 1rem;
                            border-radius: 25px;
                            background-color: rgba(0, 0, 0, 0.755);
                            color: ghostwhite;
                            border: 0;
                        }
                    }
                }
            }
        }



    }

    //TODO: Fix this section to fit tablets
    // Experience section (tablets)


    // Projects section (tablets)
    .projects {
        padding: 1rem;
        .projects-main-title {
            text-align: center;
            padding: 1rem;
            h4 {
                font-size: 3rem;
            }
            h2 {
                font-size: 2rem;
            }
        }

        h1 {
            color: $specialColor;
            text-align: center;
        }
    }

    // Experience section (tablets)
    .experience {
        margin: 6.5rem 0 2rem 0;
        //border: 2px solid red;
        .title {
            text-align: center;
            margin: 1rem 0 1rem 0;
            h2 {
                font-size: 3rem;
                margin: 1rem 0 1rem 0;
                
            } 
            h3 {
                font-size: 2rem;
            }
        }
        // experience (mobile) deep edits
        .prog-languages, .frameworks {
            //display: flex;
            text-align: center;
            margin: 2rem 0 2rem 0;
            border: 2px solid black;
            padding: 1rem 0 1rem 0;
            border-radius: 25px;
        }



        // order of html elements in experience container
        .experience-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .prog-languages{
                //border: 2px solid red;
                padding: 1rem;
                .prog-languages-title {
                    .list-of-prog-languages {

                    }
                    h2{
                        font-size: 1.5rem;
                    }
                    h4 {
                        font-size: 1.2rem;
                    }
                }
            }
            .frameworks{
                padding: 1rem;
                .frameworks-title {
                    .list-of-frameworks {
                        h2{
                            font-size: 1.5rem;
                        }
                        h4 {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }



}




// Laptops
@media (width >= 1024px) {
    .nav__container {
        font-size: $titleFont;
        display: flex;
        
        p {

        }
        // ul has a default flex display as specified in earlier code above
        ul {
            gap: 2rem;
            
            // li placed before a for easy readability
            li {

            }
            a {

            }

        }
    }

    // Home Page (laptops)
    .hero {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .hero__img {
            display: flex;
            justify-content: center;

            img {
                width: 200px;
                height: 350px;
                border-radius: 25px;
            }
        }


        .hero__text {
            // border: 2px solid red;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h3 {
                font-size: 2.5rem;
            }
    
            p {
                font-size: 2.5rem;
                
            }
    
            h2 {
                font-size: 2rem;
                font-weight: bold;
            }
    
            p, h3 {
                color: rgba(0, 0, 0, 0.607);
                font-weight: bold;
            }

            .hero__btns {
                // border: 2px solid green;
                @include divCentered();
                button {
                    font-size: 1.8rem;
                    padding: 1rem;
                    border-radius: 25px;
                    background-color: rgba(0, 0, 0, 0.755);
                    color: ghostwhite;
                    border: 0;
                }

            } 

            .hero__links {
                display: flex;
                justify-content: center;
                gap: 1.5rem;
    
                i {
                    font-size: 2.3rem; 
                }
            }

        }
    }

    // About section (laptops)
    .about {
        padding: 2rem;
        margin-top: 5rem;
        .heading {
            text-align: center;
            //padding: 0.2rem;
            h2 {
                font-size: 4rem;
            }
        }
        .about-container {
            //border: 2px solid blue;

            .education-xp-container {
                padding: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                gap: 2rem;
                .image {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    
                    img {
                        width: 300px;
                        height: 400px;
                        border-radius: 25px;
                    }
                }

                .items {
                    //border:2px solid blue;
                    .item-wrapper {
                        display: flex;
                        //flex-direction: column;
                        justify-content: center;
                        .education {
                            border:2px solid $specialColor;
                            font-size: 2.5rem;
                            padding: 1.2rem;
                            border-radius: 25px;
                            display: flex;
                            flex-flow: wrap;
                            flex-direction: column;
                            h4 {
                                display: flex;
                                justify-content: center;
                            }

                            span {
                                text-align: center;
                            }

                            h5 {

                            }
                        }
                        .experience {
                            border: 2px solid $specialColor;
                            padding: 1.2rem;
                            font-size: 2rem;
                            border-radius: 25px;
                            display: flex;
                            flex-flow: wrap;
                            flex-direction: column;
                            h4 {
                                display: flex;
                                justify-content: center;
                            }

                            span {
                                display: flex;
                                justify-content: center;
                            }

                            h5 {
                                
                            }
                        }
                    }
                    .text {
                        text-align: center;
                        padding-top: 1rem;
                        font-size: 2rem;
                    }

                    .writing-btn {
                        text-align: center;
                        padding: 1rem;
                        button {
                            font-size: 2rem;
                            padding: 1rem;
                            border-radius: 25px;
                            background-color: rgba(0, 0, 0, 0.755);
                            color: ghostwhite;
                            border: 0;
                        }
                    }
                }
            }
        }
    }

    // Experience section (laptops)
    .experience {
        margin: 6.5rem 0 2rem 0;
        //border: 2px solid red;
        .title {
            text-align: center;
            margin: 1rem 0 1rem 0;
            h2 {
                font-size: 3rem;
                margin: 1rem 0 1rem 0;
                
            } 
            h3 {
                font-size: 2rem;
            }
        }
        // experience (laptop) deep edits
        .prog-languages, .frameworks {
            //display: flex;
            text-align: center;
            margin: 2rem 0 2rem 0;
            border: 2px solid black;
            padding: 1rem 0 1rem 0;
            border-radius: 25px;
        }



        // order of html elements in experience container
        .experience-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .prog-languages{
                //border: 2px solid red;
                padding: 1rem;
                .prog-languages-title {
                    .list-of-prog-languages {

                    }
                    h2{
                        font-size: 2.5rem;
                    }
                    h4 {
                        font-size: 2rem;
                    }
                }
            }
            .frameworks{
                padding: 1rem;
                .frameworks-title {
                    .list-of-frameworks {
                        h2{
                            font-size: 2.5rem;
                        }
                        h4 {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }


    // Projects section (laptops)
    .projects {
        padding: 1rem;
        .projects-main-title {
            text-align: center;
            padding: 1rem;
            h4 {
                font-size: 3rem;
            }
            h2 {
                font-size: 2rem;
            }
        }

        h1 {
            color: $specialColor;
            text-align: center;
        }
    }



}


// Large laptops (1440px)
